__pycache__
calculon.egg-info
.DS_Store
.settings
.project
.pydevproject
*.pyc
.eggs/
*.swp
# do not track doc files that are automatically build by sphinx
doc/build
doc/source/*.rst
# but keep index.rst
!doc/source/index.rst
# testing related generated data
.pytest_cache/
.coverage
htmlcov/
